@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');

html {
    height: 100%;
    font-family: 'Roboto', 'Lora' , sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    background-color: rgb(255,255,255);
    height: 100%;
}

header {
    position: relative;
    font-family: 'Roboto Slab', 'PT serif', serif;
    color: rgb(255,255,255);
    background-color: #E60000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3rem;
    border-bottom: .1rem solid black;
    font-size: 2rem;
}


.menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}


.tela_inicial {
    margin: 3rem;
    font-size: xx-large;
}

ul {
    display: flex;
    font-family: 'Roboto Slab', 'PT serif', serif;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
}


li {
    border-bottom: .1rem solid black;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    flex-grow: 1;
}

a {
    vertical-align: middle;
}

input {
    margin: 1rem;
    flex-grow: 1;
}

.c1t2 {
    font-size: 2rem;
    margin:1rem;
}

h2 {
    margin: 1rem;
    font-size: 1.5rem;
    text-decoration: underline;
    font-family: 'Roboto Slab', 'PT serif', serif;
}

form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

input[type="text"] {
    font-size: xx-large;
}

input[type="submit"] {
    font-size: xx-large;
    margin:1rem;
}
span {
    font-size: xx-large;
}

.foto {
    padding: 1rem;
}