body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3rem;
    border-bottom: .1rem solid black;
}

h2 {
    justify-content: center;
    font-size: 1.5rem;
    text-decoration: underline;
}

p {
    margin: 1rem;
}